<span id="user_row_status_<%= user.id %>">
  <% if user.banned? %>
    <span class="status-badge banned">Banned</span>
  <% else %>
    <span class="status-badge active">Active</span>
  <% end %>
</span>
