<div id="keep_tabs_button_<%= user.id %>">
  <% if current_user.keeping_tabs_on?(user) %>
    <%= button_to user_keep_tab_path(user), method: :delete, class: "keep-tabs-btn keeping-tabs", data: { turbo_stream: true } do %>
      <i class="fa-solid fa-eye"></i> Keeping Tabs
    <% end %>
  <% else %>
    <%= button_to user_keep_tab_path(user), method: :post, class: "keep-tabs-btn", data: { turbo_stream: true } do %>
      <i class="fa-regular fa-eye"></i> Keep Tabs
    <% end %>
  <% end %>
</div>
